{% extends 'base.html' %}

{% block content %}
{{ super() }}
{%for cat, msg in get_flashed_messages(True)%}
<div class="flash {{cat}}">{{msg}}</div>
{%endfor%}
<p><a href="{{url_for('admin.index')}}">Админ-панель</a> </p>
<hr>
<h2>Список статей</h2>
<main class="list-posts">
    {%for p in posts%}
    <div>
        <p class="title">{{p.title}}</p>
        <p class="text">{{p.type}}</p>
        <p class="annonce"><img src="{{url_for('admin.get_image', img_id = p.id)}}"></p>
    </div>
        {%endfor%}
</main>
{%endblock%}
