{%extends 'admin/base_admin.html'%}

{%block content%}
{{super()}}
<h1>{{title}}</h1>
<ul class="list-users">
    {%for p in list%}
    <li>
        <p class="title">{{p.name}}
            {%if p.status == 'Active'%}
            <a href="{{url_for('admin.block_user', user_id = p.id)}}" class="block">Заблокировать пользователя</a>
            {%elif p.status == 'Blocked'%}
            <a href="{{url_for('admin.unblock_user', user_id = p.id)}}" class="block">Разблокировать пользователя</a>
            {%endif%}
        </p>
        <p class="annonce">{{p.email}}</p>
    </li>
    {%endfor%}
</ul>
{%endblock%}